### Agenda 

- Anaconda Installation
- Sources (Videos, Books, reference code)
-

In [1]:
x = 5
y = "string"

In [11]:
y = "this is a STRING"

In [12]:
y

'this is a STRING'

In [13]:
y.swapcase()

'THIS IS A string'

In [18]:
i=1

In [19]:
### = is an assignment operator, == is a comparison operator
if i==1:
    print("perform i")
else:
    print("perform J")

perform i

RANGE(90)
0, 89

In [20]:
for i in range(100):
    print("i is ",i)

i is  0
i is  1
i is  2
i is  3
i is  4
i is  5
i is  6
i is  7
i is  8
i is  9
i is  10
i is  11
i is  12
i is  13
i is  14
i is  15
i is  16
i is  17
i is  18
i is  19
i is  20
i is  21
i is  22
i is  23
i is  24
i is  25
i is  26
i is  27
i is  28
i is  29
i is  30
i is  31
i is  32
i is  33
i is  34
i is  35
i is  36
i is  37
i is  38
i is  39
i is  40
i is  41
i is  42
i is  43
i is  44
i is  45
i is  46
i is  47
i is  48
i is  49
i is  50
i is  51
i is  52
i is  53
i is  54
i is  55
i is  56
i is  57
i is  58
i is  59
i is  60
i is  61
i is  62
i is  63
i is  64
i is  65
i is  66
i is  67
i is  68
i is  69
i is  70
i is  71
i is  72
i is  73
i is  74
i is  75
i is  76
i is  77
i is  78
i is  79
i is  80
i is  81
i is  82
i is  83
i is  84
i is  85
i is  86
i is  87
i is  88
i is  89
i is  90
i is  91
i is  92
i is  93
i is  94
i is  95
i is  96
i is  97
i is  98
i is  99

In [25]:
i=1

In [29]:
while i==1:
#     print(i)
    i=i+1
    print(i)

In [32]:
i = 1
while(i<=100):
    i+=1
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [46]:
a = 4
b= 6
a+b

10

In [47]:
def add_num(a,b):   
    c = a+b
    return c

In [49]:
add_num(8,9)

17

In [48]:
add_num(5,6)

11

In [50]:
def primes(n):
    numbers = []
    for i in range(3,n):
        counter = 0
        for j in range(2,i):
            if i%j==0:
                counter+=1
        if counter == 0:
            numbers.append(i)
    return numbers

In [51]:
primes(56)

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

In [45]:
numbers = []
for i in range(3,56):
    counter = 0
    for j in range(2,i):
        if i%j==0:
            counter+=1
    if counter == 0:
        numbers.append(i)
numbers

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

## Nested loops

# list
- Array
- Mutable
- store values

In [11]:
a = [1,2,3,4]

In [14]:
a[-1]

4

In [15]:
a.append(5)

In [16]:
a[-1]

5

In [20]:
a[2] == 10

True

In [19]:
a

[1, 2, 10, 4, 5]

In [21]:
b = [1,2,3,4,5,6,7,8,9,0,10,11,112,12,13,14,15]

In [24]:
b[2:8] #False

[3, 4, 5, 6, 7, 8]

In [22]:
b[2:7] #True

[3, 4, 5, 6, 7]

In [52]:
primes(100)

[3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### Fizzbuzz
- list of numbers (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
- 3 = fizz
- 5 = buzz
- both 3 and 5 = fizzbuzz

input = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
output = [0,1,2,fizz,4,buzz,fizz,7,8,fizz,buzz,11,fizz,13,14,fizzbuzz]

In [53]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19